.choice-container {
    display: flex;
    margin-bottom: 1.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.5);
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem #56a5eb;
    transform: translate(-0.1rem);
    transition: tranform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: rgb(131, 235, 140, 0.9);
}

.incorrect {
    background-color: rgb(250, 91, 55, 0.9);
}

#hud {
    display: flex;
    justify-content: space-between;
}

#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.2rem solid #56a5eb; 
    margin-top: 1.5rem;
}

#progressComplete {
    height: 3.6rem;
    background-color: #56a5eb;
    width: 100%;
}